@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #41295a;
  background: -webkit-linear-gradient(to right, #2f0743, #41295a);
  background: linear-gradient(to right, #2f0743, #41295a);
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App > .calculator {
  height: 300px;
  width: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.App > .calculator > .display {
  grid-column: 2 / 5;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}

.App > .calculator > .display > span {
  max-width: 100%;
}

.App > .calculator > button {
  border: 1px solid #000428;
  border-radius: 4px;
  background: rgba(42, 50, 113, 0.28);
  color: #6cacc5;
  font-size: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  outline: transparent;
  cursor: pointer;
}
